/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Kaushan+Script|Permanent+Marker|Source+Sans+Pro';

.jumbotron{
  // position: relative;
  text-align: center;
  background-color: #020202;
  background-image: url(jumbo_2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;;
  height: 760px;
  h1{
    color: white;
    font-family: 'Kaushan Script', cursive;
    // font-family: 'Permanent Marker', cursive;
  }
  // img{
  //   height: 800px;
  // }
}

body{
  padding-top: 50px;
  back: #F2F2F2;
}

.container{
  position: relative;
}

.login-form{

  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  position: absolute;
  top: 150px;
  left: 100px;
  input{
    color: darkgrey;
  }
  a{
    color: white;
  }
}
